<main>
  <ng-container *ngIf="{
    stats: data$ | async,
    pageState: homePageState$ | async,
    localStats : localStats$ | async
  } as pageData">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"
      fxLayoutAlign="space-around center" fxLayoutGap="2rem">

      <nb-card accent="danger" [nbSpinner]="pageData.pageState.initialising" nbSpinnerSize="giant"
        nbSpinnerStatus="primary">
        <nb-card-header>
          Total Cases
          <fa-icon [icon]="faGlobe"></fa-icon>
        </nb-card-header>
        <nb-card-body *ngIf="pageData.stats.total">
          <nb-icon icon="globe-outline"></nb-icon>
          <div fxLayout="row" fxLayoutAlign="space-around center" class="all-cases">
            <cv-stat-details [value]="pageData.stats.total.cases.total" title="Total Cases"></cv-stat-details>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <cv-stat-details [value]="pageData.stats.total.deaths.total" title="Total Deaths"></cv-stat-details>
            <cv-stat-details [value]="pageData.stats.total.cases.recovered" title="Total Recovered"></cv-stat-details>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card accent="warning" [nbSpinner]="pageData.pageState.initialising" nbSpinnerSize="giant"
        nbSpinnerStatus="primary">
        <nb-card-header>
          Latest Stats
          <fa-icon [icon]="faClock"></fa-icon>
        </nb-card-header>
        <nb-card-body>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <cv-stat-details *ngIf="pageData.stats.highestCases" [value]="pageData.stats.highestCases.cases.new"
              title="Country With The Highest Cases" [country]="pageData.stats.highestCases.country"></cv-stat-details>
            <cv-stat-details *ngIf="pageData.stats.highestDeaths" [value]="pageData.stats.highestDeaths.deaths.new"
              title="Country With The Highest Deaths" [country]="pageData.stats.highestDeaths.country">
            </cv-stat-details>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card accent="primary" [nbSpinner]="pageData.pageState.initialising" nbSpinnerSize="giant"
        nbSpinnerStatus="primary">
        <nb-card-header>
          Local Stats <span *ngIf="pageData.localStats">({{ pageData.localStats.country }})</span>
          <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
        </nb-card-header>
        <nb-card-body *ngIf="pageData.localStats">
          <nb-icon icon="globe-outline"></nb-icon>
          <div fxLayout="row" fxLayoutAlign="space-around center" class="all-cases">
            <cv-stat-details *ngIf="pageData.localStats" [value]="pageData.localStats.totalCases" title="Total Cases">
            </cv-stat-details>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <cv-stat-details *ngIf="pageData.localStats" [value]="pageData.localStats.totalDeaths" title="Total Deaths">
            </cv-stat-details>
            <cv-stat-details *ngIf="pageData.localStats" [value]="pageData.localStats.newCases" title="New Cases">
            </cv-stat-details>
          </div>
        </nb-card-body>
      </nb-card>

    </div>
    <ng-container *ngIf="pageData.stats.tableData.length">
      <cv-stat-table [data]="pageData.stats.tableData"></cv-stat-table>
    </ng-container>
  </ng-container>

</main>
