<main>
  <p>Stat</p>
  <pre>{{ (localStats$  | async) | json }}</pre>
  <ng-container *ngIf="{
    stats: data$ | async,
    pageState: homePageState$ | async
  } as pageData">

      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="2rem">

        <nb-card accent="danger" [nbSpinner]="pageData.pageState.initialising" nbSpinnerSize="giant" nbSpinnerStatus="primary">
          <nb-card-header>
            <nb-icon icon="globe-outline"></nb-icon>Total Cases
          </nb-card-header>
          <nb-card-body *ngIf="pageData.stats.total">
            <nb-icon icon="globe-outline"></nb-icon>
            <div fxLayout="row" fxLayoutAlign="space-around center" class="all-cases">
              <cv-stat-details [value]="pageData.stats.total.cases.total" title="Total Cases"></cv-stat-details>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
              <cv-stat-details [value]="pageData.stats.total.deaths.total" title="Total Deaths"></cv-stat-details>
              <cv-stat-details [value]="pageData.stats.total.cases.recovered" title="Total Recovered"></cv-stat-details>
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card accent="warning" [nbSpinner]="pageData.pageState.initialising" nbSpinnerSize="giant" nbSpinnerStatus="primary">
          <nb-card-header>Latest Today</nb-card-header>
          <nb-card-body>
              <div fxLayout="row" fxLayoutAlign="space-around center">
                <cv-stat-details *ngIf="pageData.stats.highestCases" [value]="pageData.stats.highestCases.cases.new" title="Country With The Highest Cases" [country]="pageData.stats.highestCases.country"></cv-stat-details>
                <cv-stat-details *ngIf="pageData.stats.highestDeaths" [value]="pageData.stats.highestDeaths.deaths.new" title="Country With The Highest Deaths" [country]="pageData.stats.highestDeaths.country"></cv-stat-details>
              </div>
          </nb-card-body>
        </nb-card>

        <nb-card accent="primary"[nbSpinner]="pageData.pageState.initialising" nbSpinnerSize="giant" nbSpinnerStatus="primary">
          <nb-card-header>Total Recovered</nb-card-header>
          <!-- <nb-card-body>{{ totalRecovered$ | async }}</nb-card-body> -->
        </nb-card>

      </div>
      <ng-container *ngIf="pageData.stats.tableData.length">
        <cv-stat-table [data]="pageData.stats.tableData"></cv-stat-table>
      </ng-container>
    </ng-container>

</main>
