@import '../../../../../themes.scss';

:host {
  display: block;
  overflow: auto;
}
:host ::ng-deep table tr:first-child th {
  position : sticky;
  top: -1px;
  z-index: 100;
  background-color: nb-theme(color-basic-800);
}

button[nbTreeGridRowToggle] {
  background: transparent;
  border: none;
  padding: 0;
}

.search-label {
  display: block;
}

.search-input {
  margin-bottom: 1rem;
  padding: .4rem;
  background-color: nb-theme(color-basic-900);
  border-color:  nb-theme(color-basic-1100);
  color: #ffffff;
}


.table-wrapper {
  height: calc(100vh - 500px);
  overflow-y: auto;
}


td.nb-column-newCases {
  color: nb-theme(color-primary-500);
}

td.nb-column-totalCases {
  color: nb-theme(color-info-300);
}

td.nb-column-totalDeaths {
  color: nb-theme(color-danger-500);
}

td.nb-column-newDeaths {
  color: nb-theme(color-danger-600);
}

td.nb-column-critical {
  color: nb-theme(color-danger-400);
}

td.nb-column-recovered {
  color: nb-theme(color-success-500);
}

.nb-column-name {
  width: 100%;
}

@mixin hide-columns($column) {
  th:nth-child(#{$column}), td:nth-child(#{$column}) {
    display: none !important;
  }
}

@media only screen and (max-width: 818px) {
  @include hide-columns(7);
  th, td {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 555px) {
  @include hide-columns(6);
  th, td {
    font-size: .7.5rem;
  }
}

$stacked-column-width: 600px;
@media only screen and (max-width: #{$stacked-column-width}) {
  nb-card-body {
    padding: .25rem .5rem;
  }

  .search-input {
    margin-bottom: .5rem;
  }

  td, th {
    padding: 0.4rem .75rem !important;
  }

}

