<nb-card>
  <nb-card-body>

    <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input" placeholder="search...">
    <div class="table-wrapper">
      <table [nbTreeGrid]="dataSource" nbSort (sort)="changeSort($event)" equalColumnsWidth>

        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

        <ng-container [nbTreeGridColumnDef]="customColumn">

          <th nbTreeGridHeaderCell [nbSortHeader]="getDirection(customColumn)" *nbTreeGridHeaderCellDef nbSortHeader>
            {{customColumn | humanise}}
            <span *nbSortHeaderIcon="let asc = isAscending; let desc = isDescending">
              <span *ngIf="asc" class="nb-chevron-down" aria-label="sorted ascending"></span>
              <span *ngIf="desc" class="nb-chevron-up" aria-label="sorted descending"></span>
            </span>
          </th>

          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            <button nbTreeGridRowToggle
                    *ngIf="row.hasChildren()"
                    [attr.aria-label]="row.expanded ? 'collapse' : 'expand'">
              <span [ngClass]="{'nb-chevron-down': row.expanded, 'nb-chevron-right': !row.expanded}"
                    aria-hidden="true">
              </span>
            </button>
            {{row.data.country}}
          </td>

        </ng-container>

        <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
          <th nbTreeGridHeaderCell [nbSortHeader]="getDirection(column)" *nbTreeGridHeaderCellDef>{{column | humanise}}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] | localeString}} <span *ngIf="!row.data[column]">-</span></td>
        </ng-container>

      </table>
    </div>

  </nb-card-body>
</nb-card>
