<!-- <ng-container *ngFor="let stat of stats">

  <mat-card>
    <mat-card-title>{{ stat.country }}</mat-card-title>
    <mat-card-content>
      <h3>Cases</h3>
      <ul>
        <li>New: {{ stat.cases.new }}</li>
        <li>Active: {{ stat.cases.active }}</li>
        <li>Critical: {{ stat.cases.critical }}</li>
        <li>Recovered: {{ stat.cases.recovered }}</li>
        <li>Total: {{ stat.cases.total }}</li>
      </ul>

      <h3>Deaths</h3>
      <ul>
        <li>New: {{ stat.deaths.new }}</li>
        <li>Total: {{ stat.deaths.total }}</li>
      </ul>
    </mat-card-content>
  </mat-card>

</ng-container> -->
